<div class="cart">
    <div class="titre-topic">Titre du topic</div>
    <div class="ctn-topic">
        <div class="description-topic">
            description du topic, le premier message tronqué 
        </div>
        <div class="info-topic">
            <div class="created-by">created by Epikdiamond</div>
            <div class="created-at">created at 12:09 25/06/2024</div>
        </div>
    </div>
    <div class="tags-topic">
        <div class="tag">Techno</div>
        <div class="tag">Electro</div>
        <div class="tag">Drum&Bass</div>
    </div>
