<div class="cart">
    <div class="titre-topic">Est-ce que vous aussi vous aimez les bruits de Tuyaux ?</div>
    <div class="ctn-topic">
        <div class="like-ctn">
            <div class="upvote">up</div>
            <div class="score">69</div>
            <div class="downvote">down</div>
        </div>
        <div class="description-ctn">
            <div class="description-topic">
                Bonjour, je me demandais si vous aussi vous aimez les bruits de tuyaux dans la musique indus techno ? et si oui plutot galva ou inox ? bim bam broum pouit !
            </div>
            <div class="info-topic">
                <div class="created-by">created by Craked</div>
                <div class="created-at">created at 17:29 26 juin 2024</div>
            </div>
        </div>
    </div>
    <div class="tags-topic">
        <div class="tag">EarRape</div>
        <div class="tag">Chantier</div>
        <div class="tag">Bruit</div>
    </div>
