<footer>
    <div class="container">
        <div class="left">
            <div class="ensemble">
                <a href="/conditions">Conditions Générales d'Utilisation</a>
                <a href="/politique">Politique de Confidentialité</a>
                <a href="/mentions">Mentions Légales</a>
                <a href="/contact">Contact</a>
            </div>
        </div>
        <div class="center">
            <a href="/index">
                <img class="logo-footer" src="/public/img/logo_forum.png" alt="logo forum">
            </a>
        </div>
        <div class="right">
            <div class="ensemble">
                <div class="github">
                    <img src="/public/img/logo_github.png" alt="logo_github">
                    <a href="https://github.com/Epikdimond-N">GitHub Nathanael</a>
                </div>
                <div class="github">
                    <img src="/public/img/logo_github.png" alt="logo_github">
                    <a href="https://github.com/VitoDeriu">GitHub Vito</a>
                </div>
                <div class="github">
                    <img src="/public/img/logo_github.png" alt="logo_github">
                    <a href="https://github.com/Juliendnte">GitHub Julien</a>
                </div>
                <div class="github">
                    <img src="/public/img/logo_github.png" alt="logo_github">
                    <a href="https://github.com/Dj-Stif">GitHub Louka</a>
                </div>
            </div>

        </div>
    </div>
</footer>