<footer>
    <div class="container">
        <div class="left">
            <a href="">Conditions Générales d'Utilisation</a>
            <a href="">Politique de Confidentialité</a>
            <a href="">Mentions Légales</a>
            <a href="">Contact</a>
        </div>
        <div class="center">
            <img src="/assets/img/logo_forum.png" alt="logo forum">
        </div>
        <div class="right">
            <div class="github">
                <img src="" alt="logo_github">
                <a href="">GitHub Nathanael</a>
            </div>
            <div class="github">
                <img src="" alt="logo_github">
                <a href="">GitHub Vito</a>
            </div>
            <div class="github">
                <img src="" alt="logo_github">
                <a href="">GitHub Julien</a>
            </div>
            <div class="github">
                <img src="" alt="logo_github">
                <a href="">GitHub Louka</a>
            </div>
        </div>
    </div>
</footer>