<header>
  <div class="header">
    <div class="header-left">
      <div class="header-btn">CREATE TOPIC</div>
      <div class="header-btn">
        <p>FAVORIES</p>
      </div>
    </div>
    <div class="header-center">
      <div class="logo">
        <img src="public/img/logo_forum.png" alt="" />
      </div>
    </div>
    <div class="header-right">
      <div class="header-btn search-btn">
        <img src="/public/img/search-icon.png" alt="search_icon" />
        <p>SEARCH</p>
      </div>
      <div class="header-btn">
        <a href="/connect-page">
          <img src="/public/img/login-icon.png" alt="login_icon" />
          <p>LOGIN</p>
        </a>
      </div>
    </div>
  </div>
  <div class="search">
    <form action="/searchtreatment" name="search">
      <input type="text" class="input" placeholder="Search" />
    </form>
  </div>
  <div class="category-ctn">
    <div class="category-btn">CAT1</div>
    <div class="category-btn">CAT2</div>
    <div class="category-btn">CAT3</div>
    <div class="category-btn">CAT4</div>
    <div class="category-btn">CAT5</div>
    <div class="category-btn">CAT6</div>
  </div>
</header>
