<div class="login-ctn">
    <div class="logo">
        <a href="/index">
            <img src="public/img/logo_forum.png" alt="Logo"/>
        </a>
        <p>SIGN IN</p>
    </div>
    <div class="info-ctn">
        <form action="/login">
            <div class="info-input">
                <div class="username-ctn">
                    <label for="username" class="username">Username</label>
                    <input type="text" name="pseudo">
                </div>
                <div class="password-ctn">
                    <label for="password" class="password">Password</label>
                    <input type="password" name="mdp">
                </div>
                <div class="recovery-opt">
                    <!-- <div class="remember">
                        <input type="checkbox" name="remember">
                        <label for="remember">Remember me</label>
                    </div> -->
                    <!-- <a href="/forgotpw">
                        <div class="forgot-pw">forgot password?</div>
                    </a> -->
                </div>
            </div>
            <button type="submit">LOGIN</button>
        </form>
        <a href="/create-account-page">
            <div class="new-account">t'es nouveau ? rejoins nous ici !</div>
        </a>
    </div>
</div>