@font-face {
  font-family: "Inter Thin";
  src: url("../font/Inter-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Inter Bold";
  src: url("../font/Inter-Bold.ttf") format("truetype");
}

:root {
  --light: "Inter Thin";
  --bold: "Inter Bold";
  --bgcolor: #22252A;
  --bgcolor2:#444444c0;
  --bgcolor3:#8f8f8f;
  --bgcolor4:#808080;
  --bordercolor: #202020;
  --bordercolor2: #404040;
  --fontColor: #dddddd;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--bgcolor);
  background-image: url("/public/img/bg_body.png");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: var(--fontColor);
  font-family: var(--light);
}

a {
  text-decoration: none;
  color: inherit;
}
