<!DOCTYPE html>
<html lang="fr">
  <head>
    <%-include('../components/head'); %>
    <title>conditions général d'utilisation</title>
    <link rel="stylesheet" href="/public/css/conditions.css">
  </head>
  <body>
    <%-include('../components/header'); %>
    <div class="flou">
      <h1>Conditions Générales d'Utilisation du Forum de Musique
        Préambule</h1>
      <p>
        Bienvenue sur notre forum de musique.</p>
      <p>En accédant à ce forum et en y participant, vous acceptez de respecter les présentes Conditions Générales d'Utilisation (CGU).</p>
      <p>
        Nous nous réservons le droit de modifier ces conditions à tout moment, aussi nous vous invitons à les consulter régulièrement.
      </p>
      <h2>1. Inscription</h2>
      <p>
        1.1. Pour participer au forum, vous devez créer un compte en fournissant des informations exactes, complètes et à jour.</p>

      <p> 1.2. Vous êtes responsable de la confidentialité de votre mot de passe et de toute activité sur votre compte. En cas d'utilisation non autorisée de votre compte, vous devez nous en informer immédiatement.
      </p>
      <h2>2. Règles de Conduite</h2>
      <p>
        2.1. Respect et Courtoisie : Tous les membres doivent traiter les autres avec respect et courtoisie. Les insultes, harcèlements, discriminations ou tout autre comportement inapproprié sont strictement interdits.</p>

      <p>2.2. Contenu Inapproprié : Il est interdit de publier des contenus illégaux, obscènes, diffamatoires, menaçants, haineux, ou incitant à la violence.</p>

      <p> 2.3. Droit d'Auteur : Ne partagez que des contenus dont vous possédez les droits ou pour lesquels vous avez obtenu l'autorisation. Le plagiat et la violation des droits d'auteur sont interdits.</p>

      <p>2.4. Spam et Publicité : Les messages publicitaires, le spam et les sollicitations commerciales non autorisées sont interdits.
      </p>
      <h2>3. Publications et Responsabilité</h2>
      <p>
        3.1. Vous êtes seul responsable des contenus que vous publiez sur le forum. Nous ne sommes pas responsables des contenus publiés par les utilisateurs.</p>

      <p> 3.2. En publiant des contenus sur le forum, vous accordez au forum une licence non exclusive, mondiale, gratuite et transférable d'utiliser, reproduire, modifier, publier et distribuer ces contenus.
      </p>
      <h2>4. Modération</h2>
      <p>
        4.1. Nous nous réservons le droit de supprimer ou de modifier tout contenu qui enfreint les présentes CGU, sans préavis.</p>

      <p>4.2. Les modérateurs peuvent également suspendre ou bannir des utilisateurs en cas de violation répétée ou grave des règles.
      </p>
      <h2>5. Protection des Données</h2>
      <p>
        5.1. Vos données personnelles sont collectées et traitées conformément à notre politique de confidentialité. Nous nous engageons à protéger votre vie privée et à sécuriser vos informations personnelles.
      </p>
      <h2> 6. Limitation de Responsabilité </h2>
      <p>
        6.1. Le forum est fourni "tel quel" et nous ne garantissons pas qu'il sera exempt d'erreurs ou d'interruptions.</p>

      <p> 6.2. Nous ne sommes pas responsables des dommages directs, indirects, accidentels, spéciaux ou consécutifs résultant de l'utilisation du forum.
      </p>
      <h2>7. Litiges</h2>
      <p>
        7.1. En cas de litige, nous nous efforcerons de le résoudre à l'amiable. Si aucune solution amiable n'est trouvée, les tribunaux compétents seront ceux de la juridiction de notre siège social.
      </p>
      <h2>8. Dispositions Finales</h2>
      <p>
        8.1. Si une disposition des présentes CGU est jugée invalide ou inapplicable, les autres dispositions resteront en vigueur.</p>

      <p> 8.2. Les présentes CGU constituent l'intégralité de l'accord entre vous et le forum concernant son utilisation.</p>

      <p> En utilisant notre forum, vous reconnaissez avoir lu, compris et accepté les présentes Conditions Générales d'Utilisation.

        Merci de votre participation et bonne discussion sur notre forum de musique !</p>
    </div>

    <%-include('../components/footer'); %>
  </body>
</html>
