<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../components/head'); %>
    <title>Contacts</title>
    <link rel="stylesheet" href="/public/css/contact.css">
</head>
<body>
<%- include('../components/header'); %>
<div class="flou">
    <h1>Contacts du Forum de Musique</h1>
    <h2>Contact Général</h2>
    <p>Email de Contact Général :</p>
    <p>contact@nomduforum.com</p>

    <h2>Support Technique</h2>
    <p>Email du Support Technique :</p>
    <p>support@nomduforum.com</p>

    <p>Numéro de Téléphone du Support Technique :</p>
    <p>+33 1 23 45 67 89</p>

    <h2>Responsable de la Publication</h2>
    <p>Nom du Responsable :</p>
    <p>[Nom du Responsable]</p>

    <p>Email du Responsable de la Publication :</p>
    <p>responsable@nomduforum.com</p>

    <h2>Adresse Postale</h2>
    <p>Adresse :</p>
    <p>[Nom du Forum]</p>
    <p>[Adresse Postale Complète]</p>
    <p>[Code Postal] [Ville]</p>
    <p>France</p>

    <h2>Réseaux Sociaux</h2>
    <p>Facebook :</p>
    <p>[URL de la Page Facebook]</p>

    <p>Twitter :</p>
    <p>[URL du Compte Twitter]</p>

    <p>Instagram :</p>
    <p>[URL du Compte Instagram]</p>

    <p>YouTube :</p>
    <p>[URL de la Chaîne YouTube]</p>

    <h2>Formulaire de Contact</h2>
    <p>Pour toute demande, vous pouvez également utiliser notre formulaire de contact disponible à l'adresse suivante :
    </p>
    <p>[URL du Formulaire de Contact]</p>

    <p>Nous sommes à votre disposition pour répondre à toutes vos questions et pour vous assister dans votre expérience
        sur notre forum de musique. N'hésitez pas à nous contacter pour toute information supplémentaire.
    </p>
</div>
<%- include('../components/footer'); %>
</body>
</html>
