<!DOCTYPE html>
<html lang="fr">
  <head>
    <%-include('../components/head'); %>
    <link rel="stylesheet" href="/public/css/index.css" />
  </head>
  <body>
    <%-include('../components/header'); %>
    <main>
      <%-include('../components/signup'); %>
    </main>
    <p>Créer son compte</p>
    <form action="/create-account">
      <input type="text" placeholder="Nom" name="last_name" required />
      <input type="text" placeholder="Prenom" name="first_name" required />
      <input type="email" placeholder="Mail" name="mail_adress" required />
      <input
        type="date"
        placeholder="Date de naissance"
        name="date_of_birth"
        required
      />
      <input
        type="text"
        placeholder="Pseudo"
        name="user_name"
        required
        size="15"
      />
      <input
        type="password"
        placeholder="Mot de passe"
        name="user_password"
        required
      />
      <button type="submit">Créer son compte</button>
    </form>

    <a href="/connect-page">Se connecter</a>

    <%-include('../components/footer'); %>
  </body>
</html>
