<!DOCTYPE html>
<html lang="fr">
  <head>
    <%-include('../components/head'); %>
    <link rel="stylesheet" href="/public/css/create-topic.css" />
  </head>
  <body>
    <%-include('../components/header'); %>
    <main>
      <form class="form-main" action="/insert-topic">
        <div class="titre-form">Posez votre question, exprimez vous sur un sujet : </div>
        <div class="head-form">
          <div class="titre-input">
          <label for="titre">Titre du Topic</label>
            <input type="text" placeholder="Titre du topic" name="titre" required />
          </div>
          <div class="cat-input">
              <label for="tag">Categorie</label>
              <select name="tag">
              <option>Rap</option>
              <option>Pop</option>
              <option>Rock</option>
              <option>Metal</option>
              <option>Jazz</option>
              <option>DJ</option>
              <option>Reggae</option>
              <option>Techno</option>
              <option>Bruits de tuyaux</option>
              <option>Electro</option>
              <option>Flamenco</option>
              <option>Blues</option>
              <option>Zouk</option>
              <option>Country</option>
              <option>Musique afro</option>
              <option>Latino</option>
              <option>Classique</option>
              <option>K-POP</option>
              <option>Hip-Hop</option>
              <option>Funk</option>
              <option>Variété</option>
              <option>Disco</option>
            </select>
          </div>
        </div>
        <div class="contenu-input">
          <label for="contenu">Message du topic</label>
          <textarea name="contenu" id="" required></textarea>
        </div>
        
        <button type="submit">Créer mon topic</button>

      </form>
    </main>
    <%-include('../components/footer'); %>
  </body>
</html>
