<!DOCTYPE html>
<html lang="fr">
  <head>
    <%-include('../components/head'); %>
    <link rel="stylesheet" href="/public/css/index.css" />
  </head>
  <body>
    <%-include('../components/header'); %>
    <p>on est sur l'index</p>
    <form action="/insert-topic">
      <input type="text" placeholder="Titre du topic" name="titre" required />
      <input
        type="text"
        placeholder="Contenu du topic"
        name="contenu"
        required
      />
      <select name="tag">
        <option>Rap</option>
        <option>Pop</option>
        <option>Rock</option>
        <option>Metal</option>
        <option>Jazz</option>
        <option>DJ</option>
        <option>Reggae</option>
        <option>Techno</option>
        <option>Bruits de tuyaux</option>
        <option>Electro</option>
        <option>Flamenco</option>
        <option>Blues</option>
        <option>Zouk</option>
        <option>Country</option>
        <option>Musique afro</option>
        <option>Latino</option>
        <option>Classique</option>
        <option>K-POP</option>
        <option>Hip-Hop</option>
        <option>Funk</option>
        <option>Variété</option>
        <option>Disco</option>
      </select>
      <button type="submit">Créer le topic</button>
    </form>

    <%-include('../components/footer'); %>
  </body>
</html>
