<!DOCTYPE html>
<html lang="fr">
  <head>
    <%-include('../components/head'); %>
  </head>
  <body>
    <%-include('../components/header'); %>
    <main>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
      <p>le main de la page</p>
    </main>
    <%-include('../components/footer'); %>
  </body>
</html>
