<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('../components/head'); %>
    <title>Mentions Légales</title>
    <link rel="stylesheet" href="/public/css/mentions.css">
</head>
<body>
<%- include('../components/header'); %>
<div class="flou">
    <h1>Mentions Légales du Forum de Musique</h1>
    <h2>Éditeur du Site</h2>
    <p>Nom du Forum : FORUM2MUSIK</p>
    <p>Responsable de la publication : EpikDiamond</p>
    <p>Adresse : 7 rue le corbusier</p>
    <p>Téléphone : 06 63 69 74 90</p>
    <p>Email : louka.siarymaurel@ynov.com</p>

    <h2>Hébergement</h2>
    <p>Hébergeur : L'Hébergeur</p>
    <p>Adresse de l'Hébergeur : pas loin</p>
    <p>Téléphone : 06 93 28 28 28</p>
    <p>Email : jeanpierre.chevenement@hottoutcourt.com</p>

    <h2>Propriété Intellectuelle</h2>
    <p>Tous les contenus (textes, images, vidéos, logos, etc.) présents sur ce forum sont protégés par les lois
        relatives à la propriété intellectuelle et sont la propriété exclusive de leurs auteurs respectifs.</p> *
    <p>Toute reproduction, distribution, modification ou utilisation de ces contenus sans autorisation préalable est
        strictement interdite.
    </p>
    <h2>Données Personnelles</h2>
    <p>Conformément à la réglementation en vigueur sur la protection des données personnelles, notamment le Règlement
        Général sur la Protection des Données (RGPD),</p>
    <p>nous nous engageons à protéger la vie privée des utilisateurs de
        notre forum.
    </p>
    <h2>Collecte et Traitement des Données</h2>
    <p>Les informations recueillies lors de l'inscription sur le forum sont nécessaires pour le bon fonctionnement du
        service.</p>
    <p>Elles sont destinées exclusivement à un usage interne et ne seront en aucun cas cédées ou vendues à des
        tiers sans votre consentement explicite.
    </p>
    <h2>Droit d'Accès, de Rectification et de Suppression</h2>
    <p>Vous disposez d'un droit d'accès, de rectification et de suppression des informations vous concernant. Pour
        exercer ce droit, vous pouvez nous contacter à l'adresse suivante : louka.siarymaurel@ynov.com.
    </p>
    <h2>Responsabilité</h2>
    <p>Contenu du Forum</p>
    <p>Les messages postés par les utilisateurs n'engagent que leurs auteurs respectifs. Nous ne pouvons être tenus
        responsables du contenu publié par les utilisateurs.</p>
    <p></p>Toutefois, nous nous réservons le droit de modérer,
        modifier ou supprimer tout contenu inapproprié ou illicite.
    </p>
    <h2>Liens Externes</h2>
    <p>Notre forum peut contenir des liens vers d'autres sites web.</p>
    <p>Nous n'avons aucun contrôle sur ces sites et
        déclinons toute responsabilité quant à leur contenu.
    </p>
    <h2>Cookies</h2>
    <p>Nous utilisons des cookies pour améliorer l'expérience de navigation sur notre forum.</p>
    <p>Vous pouvez configurer
        votre navigateur pour refuser les cookies, mais certaines fonctionnalités du site peuvent être affectées.
    </p>
    <h2>Loi Applicable et Juridiction</h2>
    <p>Les présentes mentions légales sont régies par la loi française.</p>
    <p>En cas de litige, et après une tentative de
        résolution amiable, les tribunaux français seront seuls compétents pour connaître de ce litige.
    </p>
    <h2>Contact</h2>
    <p>Pour toute question ou demande d'information concernant notre forum, vous pouvez nous contacter à l'adresse
        suivante :
    </p>
    <p>louka.siarymaurel@ynov.com
    </p>
    <p>En accédant à ce forum, vous acceptez les présentes mentions légales. Nous vous remercions de votre attention et
        vous souhaitons une bonne navigation sur notre forum2musik
    </p>
</div>
<%- include('../components/footer'); %>
</body>
</html>
