<!DOCTYPE html>
<html lang="fr">
<head>
    <%-include('../components/head'); %>
    <title>Politique de confidentialité</title>
    <link rel="stylesheet" href="/public/css/politique.css">
</head>
<body>
<%-include('../components/header'); %>
<div class="flou">
    <h1>Politique de Confidentialité du Forum de Musique
        Préambule</h1>
    <p>Cette Politique de Confidentialité décrit comment nous collectons, utilisons, partageons et protégeons vos informations personnelles lorsque vous utilisez notre forum de musique. En accédant à notre forum, vous acceptez les pratiques décrites dans cette politique.
    </p>
    <h2>1. Informations que Nous Collectons</h2>
    <p>1.1. Informations Personnelles</p>
    <p>Nous collectons des informations personnelles que vous nous fournissez volontairement lorsque vous créez un compte, telles que :
    </p>
    <p>Nom d'utilisateur</p>
    <p>Adresse e-mail</p>
    <p>Mot de passe</p>
    <p>1.2. Informations Non-Personnelles</p>
    <p>Nous pouvons également collecter des informations non personnelles sur votre utilisation du forum, telles que :
    </p>
    <p>Adresse IP</p>
    <p>Type de navigateur</p>
    <p>Pages visitées</p>
    <p>Temps passé sur le site</p>
    <h2>2. Utilisation des Informations</h2>
    <p>2.1. Pour Fournir et Améliorer Nos Services</p>
    <p>Créer et gérer votre compte</p>
    <p>Répondre à vos demandes et commentaires</p>
    <p>Personnaliser votre expérience sur le forum</p>
    <p>Améliorer la fonctionnalité et la performance du forum</p>
    <p>2.2. Pour la Sécurité et la Conformité</p>
    <p>Prévenir les fraudes et les abus</p>
    <p>Respecter les obligations légales et réglementaires</p>
    <h2>3. Partage des Informations</h2>
    <p>3.1. Avec des Tiers de Confiance</p>
    <p>Nous pouvons partager vos informations personnelles avec des tiers de confiance qui nous aident à exploiter le forum et à fournir nos services, sous réserve qu'ils respectent des obligations de confidentialité strictes.
    </p>
    <p>3.2. Pour des Raisons Légales</p>
    <p>Nous pouvons divulguer vos informations personnelles si la loi l'exige ou si nous croyons de bonne foi que cette divulgation est nécessaire pour protéger nos droits, votre sécurité ou celle d'autrui, enquêter sur une fraude ou répondre à une demande gouvernementale.
    </p>
    <h2>4. Protection de vos Informations</h2>
    <p>4.1. Sécurité des Données</p>
    <p>Nous mettons en place des mesures de sécurité techniques et organisationnelles pour protéger vos informations personnelles contre la perte, l'accès non autorisé, la divulgation ou la modification.
    </p>
    <p>4.2. Conservation des Données</p>
    <p>Nous conservons vos informations personnelles aussi longtemps que nécessaire pour fournir nos services ou pour se conformer à nos obligations légales. Une fois cette période expirée, nous supprimerons ou anonymiserons vos données.
    </p>
    <h2>5. Vos Droits</h2>
    <p>5.1. Accès et Correction</p>
    <p>Vous avez le droit d'accéder à vos informations personnelles et de demander leur correction si elles sont inexactes ou incomplètes.
    </p>
    <p>5.2. Suppression</p>
    <p>Vous pouvez demander la suppression de votre compte et de vos informations personnelles, sous réserve de certaines exceptions légales.
    </p>
    <p>5.3. Opposition et Limitation</p>
    <p>Vous avez le droit de vous opposer à certains traitements de vos données et de demander une limitation de leur utilisation.
    </p>
    <h2>6. Cookies et Technologies Similaires</h2>
    <p>Nous utilisons des cookies et des technologies similaires pour améliorer votre expérience sur notre forum. Vous pouvez configurer votre navigateur pour refuser les cookies, mais cela peut affecter certaines fonctionnalités du forum.
    </p>
    <h2>7. Modifications de la Politique de Confidentialité</h2>
    <p>Nous pouvons modifier cette Politique de Confidentialité de temps en temps. Nous vous informerons de tout changement important par le biais d'un avis sur le forum ou par e-mail.
    </p>
    <h2>8. Contact</h2>
    <p>Si vous avez des questions ou des préoccupations concernant cette Politique de Confidentialité, veuillez nous contacter à :
    </p>
    <p>nathanael.pivot@ynov.com
    </p>
    <p>En utilisant notre forum, vous reconnaissez avoir lu et compris cette Politique de Confidentialité
    </p>
</div>

    <%-include('../components/footer'); %>
</body>
</html>
