<!DOCTYPE html>
<html lang="fr">
  <head>
    <%-include('../components/head'); %>
    <link rel="stylesheet" href="/public/css/token-not-found.css" />
  </head>
  <body>
    <%-include('../components/header'); %>
    <main>
      <div class="ctn">
        <p>Vous devez vous connecter pour créer un topic</p>
        <a href="/connect-page">Se connecter 
          <img src="/public/img/arrow-right.png" alt="arrow_left">
        </a>
      </div>
    </main>
    <%-include('../components/footer'); %>
  </body>
</html>
