<!DOCTYPE html>
<html lang="fr">
  <head>
    <%-include('../components/head'); %>
    <link rel="stylesheet" href="/public/css/index.css" />
  </head>
  <body>
    <%-include('../components/header'); %>
    <p style="color: #f00">Vous devez vous connecter pour faire cette action</p>
    <a style="color: #f00" href="/connect-page"
      >Aller sur la page de connection</a
    >

    <%-include('../components/footer'); %>
  </body>
</html>
